*{
    margin: 0;
    font-family: 'Open Sans', 'sans-serif';
}
.header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-position: bottom right, left;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nt{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.tp{
    color: #fd6e0a;
}
.bp{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 10px;
    background-color: #fd6e0a;
}
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.bt{
    font-weight: 700;
    font-size: 85px;
}
.bst{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 15px;
}
.bd{
    color: #757575;
    font-size: 18px;
    margin-bottom: 20px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    text-align: center;
    margin-top: 130px;
    background-color: #fff8f3;
    border-radius: 15px;
    padding: 130px 150px;
}
.st{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 200px;
}
.sd{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.aic{
    display: flex;
    justify-content: space-around;
}
.it{
    font-size: 20px;
    color: #757575;
}
.id{
    font-size: 20px;
    font-weight: 700;
    color: black;
}
.wid{
    margin: 130px;
}
.sc{
    display: flex;
    gap: 24px;
}
.skill{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.st2{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.sd2{
    color: #757575;
}
.rc{
    display: flex;
}
.rt{
    
}
.ri{
    margin-top: 30px;
    margin-bottom: 30px;
}
.tittle{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.sub-t{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.d{
    color: #757575;
}
.rb{
    margin-top: 50px;
    text-align: center;
}